#java_file($self.parent.name, $self.name)
#file_header()
package $self.parent.name;

#smart_import()

#render_lines($self.metadata)
#join(" ", [
  "#modifiers_without($self, $Annotations.ABSTRACT)",
  '@interface',
  "$self.name",
  "#type_parameters($self)",
  '{'
])


#members($self.fields)
#members($self.attributes)
#nestedMembers($self)
}
