#macro(render_annotation)#default_annotation()#end

#macro(default_annotation)
#java_header()
#java_element('annotation', false)
#end

#macro(annotation_content)
#annotation_members()
#end

#macro(annotation_members)
#members($self.fields)
#members($self.attributes)
#nestedMembers($self)
#extra_code($self.extraCode)
#end

#macro(annotation_begin)
#render_lines($self.metadata)
#join(" ", [
  "#modifiers_without($self, $Annotations.ABSTRACT)",
  '@interface',
  "$self.name",
  "#type_parameters($self)",
  '{'
])
#end
