#macro(render_class)#default_class()#end

#macro(default_class)
#java_header()
#java_element('class', false)
#end

#macro(class_content)
#class_members()
#end

#macro(class_members)
#members($self.fields)
#members($self.staticInits)
#members($self.instanceInits)
#members($self.constructors)
#members($self.methods)
#nestedMembers($self)
#end

#macro(class_begin)
#render_lines($self.metadata)
#join(' ', [
  "#modifiers($self)",
  'class',
  "$self.name#type_parameters($self)",
  "#extends_class()",
  "#implements_interfaces()",
  '{'
])
#end
