#macro(render_constructor)#default_constructor()#end

#macro(default_constructor)
#if(!$self.default || !$self.body.empty)
#render_lines($self.metadata)
#join(' ', [
  "#modifiers($self)",
  "#type_parameters($self)",
  "${self.parent.name}(#parameters($self))",
  '{'
])

#@indent()#body($self, '')#end
}#end
#end