#java_file($self.packageName, $self.name)
#file_header()
package $self.packageName;

#smart_import()

#render_lines($self.metadata)
#join(' ', [
  "#modifiers($self)",
  'enum',
  "$self.name",
  "#type_parameters($self)",
  "#implements_interfaces()",
  '{'
])


#@indent()
#if($self.values.size() > 0)
#render_list($self.values);
#end
#end
#members($self.fields)
#members($self.staticInits)
#members($self.instanceInits)
#members($self.constructors)
#members($self.methods)
#nestedMembers($self)
}

#macro(implements_interfaces)
#if(!$self.interfaces.empty)implements #list($self.interfaces, '#type($it)', ', ')#end
#end
