#macro(render_enum)#default_enum()#end

#macro(default_enum)
#java_header()
#java_element('enum', false)
#end

#macro(enum_content)
#enum_values()
#enum_members()
#end

#macro(enum_members)
#members($self.fields)
#members($self.staticInits)
#members($self.instanceInits)
#members($self.constructors)
#members($self.methods)
#nestedMembers($self)
#end

#macro(enum_begin)
#render_lines($self.metadata)
#join(' ', [
  "#modifiers($self)",
  'enum',
  "$self.name",
  "#type_parameters($self)",
  "#implements_interfaces()",
  '{'
])
#end

#macro(enum_values)
#@indent()
#if($self.values.size() > 0)
#render_list($self.values);
#end
#end
#end