#render_lines($self.metadata)
#join(' ', [
  "#modifiers($self)",
  "#type(${self.type})",
  "${self.name}",
  "#field_value($self)"
]);
#macro(field_value $model)
#if(!$model.value.empty)
= #code($model.value)#end
#end
