#java_file($self.parent.name, $self.name)
#file_header()
package $self.parent.name;

#smart_import()

#render_lines($self.metadata)
#join(' ', [
  "#modifiers_without($self, $Interfaces.ABSTRACT)",
  'interface',
  "$self.name",
  "#type_parameters($self)",
  "#extends_interfaces()",
  '{'
])


#members($self.fields)
#members($self.methods)
#nestedMembers($self)
}

#macro(extends_interfaces)
#if(!$self.interfaces.empty)extends #list($self.interfaces, '#type($it)', ', ')#end
#end
