#macro(render_interface)#default_interface()#end

#macro(default_interface)
#java_header()
#java_element('interface', false)
#end

#macro(interface_content)
#interface_members()
#end

#macro(interface_members)
#members($self.fields)
#members($self.attributes)
#nestedMembers($self)
#end

#macro(interface_begin)
#render_lines($self.metadata)
#join(' ', [
  "#modifiers_without($self, $Interfaces.ABSTRACT)",
  'interface',
  "$self.name",
  "#type_parameters($self)",
  "#extends_interfaces()",
  '{'
])
#end
