#macro(render_method)#default_method()#end

#macro(default_method)
#render_lines($self.metadata)
#join(' ', [
  "#modifiers($self, $Methods.ABSTRACT)",
  "#type_parameters($self)",
  "#render($self.returnType)",
  "${self.name}(#parameters($self))",
  "#method_throws($self)"
])
#if(!$self.modifiers.contains($Methods.ABSTRACT)) {
#@indent()#body($self, "#default_body($self)")#end
}#else;#end
#end