#macro(render_method $params)#default_method($params)#end

#macro(default_method $params)
#render_lines($self.metadata)
#join(' ', [
  "#modifiers($self, $Methods.ABSTRACT)",
  "#type_parameters($self)",
  "#render($self.returnType)",
  "${self.name}(#parameters($self))",
  "#method_throws($self)"
])
#if(!$self.modifiers.contains($Methods.ABSTRACT) && !${params.contains('abstract')}) {
#@indent()#body($self, "#default_body($self)")#end
}#else;#end
#end