#join(' ', [
  "#modifiers_without($self, $Annotations.ABSTRACT)",
  '@interface',
  "$self.name",
  "#type_parameters($self)",
  '{'
])


#members($self.fields)
#members($self.attributes)
#nestedMembers($self)
}
