#set($abstract = ${extra.Methods.ABSTRACT})
#join(" ", [
  "#modifiers_without($self, $abstract)",
  "#type_parameters($self)",
  "#render($self.returnType)",
  "${self.name}(#parameters($self))"
])
#if(!$self.modifiers.contains($abstract)) {
#body($self)
}#else
;#end
