package testpackage;

#smart_import()

public class $clazz.name {

#foreach ($f in $clazz.fields)
    private #type($f.type) $f.name;

#end

#foreach ($f in $clazz.fields)
    public #type($f.type) get${f.name.capitalized}() {
        return $f.name;
    }

    public void set${f.name.capitalized}(#type($f.type) $f.name) { 
        return $f.name;
    }

#end
}

#macro( smart_import )
(!PLACEHOLDER:SMART_IMPORT!)
#end

#macro( type $java_type )$types.useType($java_type)#end
